.list .list_item .list_content a{
    text-decoration: none;
    color: #444;
}

.list .list_item .item_desc{
    padding: 15px;
}

.item_header {
  display: flex;
  justify-content: space-between; 
  align-items: baseline; 
  
  
}

.list .list_item .item_desc a {
  margin-left: 20px;
  transition: transform 0.2s ease-in-out;
  
}

.list .list_item .item_desc a:hover{
  transform: scale(1.2);
}

.action_buttons {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  margin-top: 20px;
}

.list .list_item .item_desc p a {
  color: black;
  font-weight: bold;
  margin-left: 5px;
  
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-bottom: 50px;
}



.list .list_item{
    width: 31%;
    background-color: #ffffff8c;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}



 .list .list_item .item_image img{
   width: 100%;
   height: 220;
}

.delete_btn {
    background-color: #dc3545; 
    color: white; 
    border: none; 
    padding: 5px 7px;
    border-radius: 3px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    text-align: center;
    margin-right: 5px;
}

.delete_btn:hover {
    background-color: #c82333; 
}

/* Style for the trash icon */
.delete_btn .fa-trash {
    font-size: 15px; /* Icon size */
}

.like_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
  }
  
  .like_button img {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease-in-out;
  }
  
  .like_button:hover img {
    transform: scale(1.2);
  }

  .sss{
    background-color: red;
  }

  .clicked_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    cursor:auto;
  }

  .unclicked_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    cursor:auto;
    opacity: 0.2;
  }

  .pagination{
    text-align: center;
  }

@media only screen and (max-width: 767px) {
    

    .list{
        justify-content:center;
    }

    .list .list_item{
        width: 90% !important; 
        justify-content: center;
    }

    .list .list_item .item_image img{
        height: 340 ;
     }

  }

  @media only screen and (max-width: 418px) {
    .list .list_item .item_image img{
        height: 140 ;
     }
  }